* { box-sizing: border-box }

body {
    margin: 0; 
    background-color: black;
    background-image: url('../img/league-of-legends-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
}
.font {
    font-family: 'Cinzel', serif;
    color: #fff;
    font: bold;
}
blockquote {
    padding: 1em;
    background-color: rgba(255,255,255, .3);
}
.headcolor {
    color: #fff;
    text-align: center;
}
.footcolor {
    color: #fff;
    padding-left: 2em;
}
.bground {
    padding: 1em;
}
.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}

.gap-4 {
    grid-gap: 4em
}
.headcolor h1 {
    margin: 2em 0 1em 0;
}
.headcolor p {
    text-align: right;
}
.topnav a, .footnav a {
    color: rgb(255, 202, 152); 
    text-decoration: none;
}
.footnav li {
    list-style-type: none;
    line-height: 2;
}
.topnav {
    margin-top: 3em;
    margin-bottom: 3em;
}
.footnav{
    padding: 0;
}
.topnav a {
    padding-left: 1em;
    padding-right: 1em;
}
.innermenu {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.innermenu a {
    background-color: darkblue;
    text-decoration: none;
    color: rgb(255, 202, 152); 
    padding: .5em 1em;
    border-right: 2px solid #fff;
}
.innermenu a:hover {
    color: darkblue;
    background-color: rgb(255, 202, 152); 
}
.copy {
    color:rgb(255, 202, 152);
    text-align: center;
}
.vheight {
    height: 100vh;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;   
}
.audio-container {
    display: flex;
    justify-content: center;
    align-items: center
}
.footerpadding {
    padding-left: 2em;
}
audio {
    width: 100%;
}


.sec1{
    grid-area: sec1;
}
.sec2{
    grid-area: sec2;
}
.maplayout {
    justify-content: center;
    display: flex;
}
.sec3{
    grid-area: sec3;
}
.sec4{
    grid-area: sec4;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "sec1"
        "sec2"
        "sec3"
        "sec4";
}
footer {
    color: #fff;
}
.head1 {
    grid-area: head1;
}
.head2 {
    grid-area: head2;
    text-align: center;
    font-size: xx-large;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'head1 head2';
}